.body-wrapper {
  padding: 10px;
}

.body-wrapper .cards-wrapper .cards {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
}

.content {
  color: grey;
}

@media (max-width: 650px) {
  .body-wrapper .cards-wrapper .cards {
    width: 100%;
    margin: 0;
  }

  .body-wrapper .cards-wrapper .cards .card {
    width: 100%;
  }
}
